<%- include("partials/header"); -%>
<div class="Essay">
<h1>Essay</h1>
<img class="coin" src="/coin.svg"></img>
<img class="Freud" src="/Freud.svg"><img>
<div class="context">
    
    <ul>
     <li  class="heading">Mathmatical<br> Idea</li>
   
    <% data.forEach(post => { %>
    <%    if(post.categoary == "Maths"){ %>
        <a href="/Essay/<%= post.Heading %>"><li class="content"><%= post.Heading %></li></a>
    <%   }}); %>
    </ul>
    <ul>
       <li class="heading">Economics and Political <br> Philosophy</li> 
        
    <% data.forEach(post => { %>
        <%    if(post.categoary == "Economics"){ %>
            <a href="/Essay/<%= post.Heading %>"><li class="content"><%= post.Heading %></li></a>
        <%   }}); %>
    </ul>
    <ul>
        <li class="heading">Psycology and <br> Neuroscience </li> 
        <% data.forEach(post => { %>
            <%    if(post.categoary == "Psycology"){ %>
                <a href="/Essay/<%= post.Heading %>"><li class="content"><%= post.Heading %></li></a>
            <%   }}); %>
    </li>
</div>
</div>
<%- include("partials/footer"); -%>