<%- include("partials/header"); -%>
<div class="project">

<h1>My Projects</h1>
<p>I am a webdevloper and IOS developer . I am capable of making static and dynmaic website . I also able to make serve for the spefic website need in sql and non-sqal fomrat , same can be said for ios app.</p>
<a href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&body=// please write an query or request you found have for me to built your software product
"><img class="hire_me" src="/Project/Buttin Hire me already.svg" ><img/></a>
<img class="coin" src="/Project/image 24.svg"><img/>

<div class="work">
<% links.forEach( link => { %>
<a href="<%= link.url %>" target="_blank" ><div class="work_card">
    <img  class="hi" src="<%= link.src %>">
<div style="background-color: white;"" class="text">
  <h3><%= link.title %></h3>
  <p><%= link.paragraph %></p>
</div>
</div></a>
<% }) %>
</div>
<img style="
    position: absolute;
    left: 0px;
    top: 235px;
    z-index: -1;
    width: 25%;
"src="/Project/image 23.svg"/>
<script>
  $('.hire_me').hover(function() {
  $(this).attr('src', 'Property 1=Hover.svg');
}, function() {
  $(this).attr('src', 'Buttin Hire me already.svg');
});
</script>
</div>
</div>
<%- include("partials/footer"); -%>