<%- include("partials/header"); -%>
<div class="project">

<h1>My Projects</h1>
<p>As a web developer and iOS developer, I have the skills to create both static and dynamic websites. I am also able to set up servers for specific website needs in both SQL and non-SQL formats. I am proficient in creating iOS apps as well. </p>
<a href="mailto:Rehansnehalshah1@gmail.com?subject=Hey , built for me&body=// please write an query or request you found have for me to built your software product
"><img class="hire_me" src="/Project/Buttin Hire me already.svg" ><img/></a>
<img class="coin" src="/Project/image 24.svg"><img/>

<div class="work">
<% links.forEach( link => { %>
<a href="<%= link.url %>" target="_blank" ><div class="work_card">
    <img  class="hi" src="<%= link.src %>">
<div style="background-color: white;"" class="text">
  <h3><%= link.title %></h3>
  <p><%= link.paragraph %></p>
</div>
</div></a>
<% }) %>
</div>
<img style="
    position: absolute;
    left: 0px;
    top: 235px;
    z-index: -1;
    width: 25%;
" src="/Project/image 23.svg"/>
<script>
  $('.hire_me').hover(function() {
  $(this).attr('src', '/Project/Property 1=Hover.svg');
}, function() {
  $(this).attr('src', '/Project/Buttin Hire me already.svg');
});
</script>
</div>
</div>
<%- include("partials/footer"); -%>